body{
    margin:0;
    padding:0;
    background-image: url(https://images.unsplash.com/photo-1593280405106-e438ebe93f5b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBhcmtpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80
    );
    background-size: cover;
    background-position: center;
}

.sign{
    width: 300px;
    background-color: aliceblue;
    padding: auto;

}

.input-box{

    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;

}

button{
    color:blue;
    width: 100%;
    margin :10px 0;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

signup-button{
    background-color: #1c8adb;
    cursor: pointer;
}